extends layout
block content
    .container
        #formNew
            h1 New Post
            form(method='post')
                input(type='text', name='title', placeholder='Title')
                br
                br
                textarea(id='formNewTextarea', name='body', placeholder='Write your post here')
                br
                br
                .fileinput.fileinput-new(data-provides='fileinput')
                    .fileinput-preview.thumbnail(data-trigger='fileinput', style='width: 200px; height: 150px;')
                    div
                        span.btn.btn-default.btn-file
                            span.fileinput-new Select image
                            span.fileinput-exists Change
                            input(type='file', name='imgPost')
                        a.btn.btn-default.fileinput-exists(href='#', data-dismiss='fileinput') Remove

                input(type="submit", value="Create")
